

@model IList<Phong>


	<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Phòng</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Phòng</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->

@await Component.InvokeAsync("Booking")

<!-- Room Start -->
<div class="container-xxl py-5" style="padding-bottom: 200px !important">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Phòng Của Chúng Tôi</h6>
            <h1 class="mb-5">Khám Phá <span class="text-primary text-uppercase">Phòng</span></h1>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                if (ViewBag.dsIDPhongDaDuocDat.Contains(item.ID))
                {
                    continue;
                }
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="@item.Anh" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$@(item.Gia)/Đêm</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">@item.TenPhong</h5>
                                <div class="ps-2">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>@item.SoGiuong Giường</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>@item.SoBonTam Bồn Tắm</small>
                                @if (item.Wifi == true)
                                {
                                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                                }
                            </div>
                            <p class="text-body mb-3">@item.MoTa</p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-sm btn-dark rounded py-2 px-4" asp-action="DatPhong" asp-route-IDPhong="@item.ID">Đặt Phòng</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Room End -->
